.App {
  min-height: 100vh;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-style: normal;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}